@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --colorPrimary: #f3ecff;
    --colorSecondary: #8446ff;
    --colorGrayPrimary: #383940;
    --colorGraySecondary: #676975;
}


@layer components {
    .transition-03 {
        transition: all 0.3s;
    }
  }